{% extends ":template:base.html.twig" %}

{% block title %}AppBundle:Admin:ajouterFacture{% endblock %}

{% block body %}
    <div class="content-wrapper">
            {% for msg in app.session.flashBag.get('succes') %}
                <div class="alert alert-success">{{ msg }}</div>
            {% endfor %}
        <h1>Ajouter Facture</h1>

        {{ form_start(formFacture) }}

        {{ form_widget(formFacture) }}

        <button type="submit" class="btn btn-success">Ajouter</button>

        {{ form_end(formFacture) }}

    </div>
{% endblock %}
