{% extends ":template:base.html.twig" %}

{% block title %}AppBundle:Admin:dashboard{% endblock %}

{% block body %}
<div class="content-wrapper">

<h1>Welcome to the Admin:dashboard page</h1>
</div>
{% endblock %}
