{% extends ':template:base.html.twig' %}

{% block title %} Bonjour {% endblock %}



{% block body %}

    <section class="content-wrapper">
        <section class="content-header">

        </section>
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-10 col-lg-offset-1">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <i class="fa fa-cog"></i>

                        <h3 class="box-title">Liste De Taxes</h3>

                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-3 col-xs-6">

                            </div>


                        </div>
                        <table id="service-table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Nom Taxe</th>
                                <th>Type Taxe</th>
                                <th>Valeur Taxe</th>
                                <th>Statut Taxe</th>
                                <th>Actions Taxe</th>

                            </tr>

                            </thead>


                        </table>
                    </div>
                    <div class="box-footer clearfix">

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">

{% endblock %}
{% block javascripts %}

    {{ parent() }}


    <script type="text/javascript">

        var table = $('#service-table').DataTable({
            "processing": true,
            "serverSide": true,
            "order": [[1, "desc"]],
            "autoWidth": false,
            "dataType": 'json',
            "ajax": {
                "url": "{{ path('get_taxe_ajax') }}",
                "type": "POST"
            },

            "columnDefs": [{
                "targets": 0,
                "searchable": true,
                "sortable": false, "visible": false,
                "className": "dt-body-center",


            }],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "columns": [
                {"data": "id"},
                {"data": "nomTax"},
                {"data": "typeTax"},
                {"data": "valeurTax"},
                {
                    data: 'status', name: 'status', searchable: false, render: function (data) {
                    if (data == 0)
                        return '<span class="label label-sm label-danger">Desactiver</spans>';
                    else
                        return '<span class="label label-sm label-success">Activer</spans>';
                }
                },
                {
                    "render": function (data, type, row) {
                        return '<button type="button" class="btn-success">Activer</button>'
                            + '<button   type="button" class="btn-danger" id="supprimerTaxe" data-id="' + row.id + '">Supprimer</button>';
                    }
                }


            ], "fnDrawCallback": function (oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                }
            }

        });


        $('body').on('click', '#supprimerTaxe', function () {


            var selector = $(this);
            var id = selector.attr('data-id');
            var confirmDelete = confirm('Vous êtes sure !');
            if (!confirmDelete) return;
            $.ajax({
                type: 'POST',
                url: '{{ path('taxe_delete') }}',
                data: {id: id},
                success: function (data) {
                    if ( data.success) {
                        selector.closest('tr').hide('slow');
                    }
                }
            });


        });

    </script>
{% endblock %}







