{% extends ':template:base.html.twig' %}

{% block title %} Bonjour {% endblock %}



{% block body %}

    <section class="content-wrapper">
        <section class="content-header">

        </section>
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-10 col-lg-offset-1">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <i class="fa fa-cog"></i>

                        <h3 class="box-title">Liste De Clients</h3>

                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-3 col-xs-6">

                            </div>


                        </div>
                        <table id="service-table" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Country</th>
                                <th>Email</th>
                                <th>Devise</th>
                                <th>Statut</th>
                                <th>Actions</th>

                            </tr>

                            </thead>


                        </table>
                    </div>
                    <div class="box-footer clearfix">

                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">

{% endblock %}
{% block javascripts %}

    {{ parent()
    }}


    <script type="text/javascript">

        var table = $('#service-table').DataTable({
            "processing": true,
            "serverSide": true,
            "order": [[0, "desc"]],
            "autoWidth": false,
            "dataType": 'json',
            "ajax": {
                "url": "{{ path('get_client_ajax') }}",
                "type": "POST"
            },
            'columnDefs': [{
                'targets': 0,
                'searchable': true,
                'sortable': false,
                'className': 'dt-body-center',

            }],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "columns": [

                {"data": "firstName"},
                {"data": "lastName"},
                {"data": "country"},
                {"data": "email"},
                {"data": "typeCurrency"},
                {
                    data: 'status', name: 'status', searchable: false, render: function (data) {
                    if (data == 0)
                        return '<span class="label label-sm label-danger">Desactiver</spans>';
                    else
                        return '<span class="label label-sm label-success">Activer</spans>';
                }
                },
                {
                    "render": function (data, type, row) {
                        return '<button type="button" class="btn-success">Activer</button>'
                            + '<button   type="button" class="btn-gris" id="supprimerTaxe" data-id="' + row.id + '">Modifier</button>'
                            + '<button   type="button" class="btn-danger" id="supprimerTaxe" data-id="' + row.id + '">Supprimer</button>'
                            ;
                    }
                }


            ],
        });



    </script>
{% endblock %}







