{% extends ":template:base.html.twig" %}


{% block body %}

    <section class="content-wrapper">
        <section class="content-header">
            {% for msg in app.session.flashBag.get('succes') %}
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ msg }}</div>
            {% endfor %}
        </section>
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xs-8 col-lg-offset-2">
                <div class="box box-info">

                    <div class="box-header with-border">
                        <i class="fa fa-cog"></i>

                        <h3 class="box-title">Ajouter Service</h3>

                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-3 col-xs-6">

                            </div>


                        </div>
                        {{ form_start(sericeForm) }}
                        {{ form_widget(sericeForm) }}
                        <button type="submit" class="btn btn-success" formnovalidate>Sauvegarder</button>
                        {{ form_end(sericeForm) }}
                    </div>
                    <div class="box-footer clearfix">

                    </div>
                </div>

            </div>

        </div>
    </section>
{% endblock %}
