<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ app.user.urlImage }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ app.user.firstName }} {{ app.user.lastName }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header center-block"></li>
            <li>
                <a href="{{ path('dashboard_index') }}">
                    <i class="fa fa-area-chart"></i> <span>Tableau De Bord</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Devis</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('ajouter_facture') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
                    <li><a href="{{ path('devis_index') }}"><i class="fa fa-circle-o"></i> Tout Devis</a></li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Factures</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('ajouter_facture') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
                    <li><a href="{{ path('facture_index') }}"><i class="fa fa-circle-o"></i> Tout Factures</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Paiement</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('ajouter_facture') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
                    <li><a href="{{ path('paiement_index') }}"><i class="fa fa-circle-o"></i> Tout Paiement</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Services</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('service_ajouter') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
                    <li><a href="{{ path('service_index') }}"><i class="fa fa-circle-o"></i> Tout Services</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Taxe</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('ajouter_taxe') }}"><i class="fa fa-circle-o"></i> Ajouter</a></li>
                    <li><a href="{{ path('taxe_index') }}"><i class="fa fa-circle-o"></i> Tout Taxe</a></li>
                </ul>
            </li>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-user"></i> <span>Utilisateurs</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('ajouter_utilisateur') }}"><i class="fa fa-circle-o"></i> Ajouter </a></li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-circle-o"></i> Tout Utilisateurs
                                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{{ path('clients_index') }}"><i class="fa fa-circle-o"></i> Clients</a>
                                </li>
                                <li>
                                    <a href="{{ path('admin_index') }}"><i class="fa fa-circle-o"></i> Administrateur
                                        <span class="pull-right-container">
                    </i>
                    </span>
                                    </a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endif %}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
